.length-break {
    word-break: break-all !important;
}

table td {
    font-family:'Roboto Mono' !important;
}

/*Fit default macbook screen*/
.small-box .icon {
    font-size: 70px !important;
}

.btn {
    padding: 5px 4px !important;
}

.detail {
    font-family: Consolas, mono-spaced;
    white-space: pre;
    margin: 0 auto;
}

.detail_grey {
    color: grey;
    font-size: 90%;
}

.detail_cell {
    padding: 1px 7px;
}

.detail_min {
    background: #ffdddd;
}

.detail_plus {
    background: #ddffdd;
}
/* Pretty JSON */
.json-pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
}
.json-key {
   color: brown;
}
.json-value {
   color: navy;
}
.json-string {
   color: olive;
}
